name: Matrix Configuration

on: 
    push:
    workflow_dispatch:

jobs:
    deploy:
        strategy:
         matrix:
            os: [ubuntu-latest, ubuntu-20.04, windows-latest]
            images: [hello-world, alpine]
            
            # ဖြေရှင်းနည်း: Incompatible ဖြစ်သော တွဲဖက်မှုကို ဖယ်ရှားခြင်း
            exclude:
              - os: windows-latest
                images: alpine
                
        runs-on: ${{ matrix.os }}
        steps:
        - name: Echo Docker Details
          run: docker info

        - name:  Run Image on ${{ matrix.images }}
          run: docker run ${{ matrix.images }}